{% extends 'admin/admin.html' %}
{% import 'ui/admin_page.html' as pg%}


{% block css %}
    <style>
        * {
            font-family: "Microsoft YaHei";
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            vertical-align: middle;
            text-align: center;
        } 
    </style>
{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>Management System</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Authority Management</a></li>
            <li class="active">Manager Login List</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Manager Login List</h3>
                        {# <div class="box-tools"> #}
                            {# <div class="input-group input-group-sm" style="widows: 150px;">#}
                                {# <input type="text" name="table_search" class="form-control pull-right" placeholder="Please input the key words..."> #}
                                {#<div class="input-group-btn">#}
                                    {# <div class="input-group-btn"> #}
                                        {# <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button> #}
                                    {# </div> #}
                                {#</div>#}
                            {# </div> #}
                        {#</div>#}
                    </div>
                    <div class="box-body table-responsive no-padding">
                        {# Delete video successfully Hint(category_filter:category flash)#}
                        {% for msg in get_flashed_messages(category_filter=['ok']) %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i>Congratulation, operate successfully</h4>
                                    {{ msg }}
                            </div>
                        {% endfor %}
                        {# Add Authorities Failed Hint #}
                        {% for msg in get_flashed_messages(category_filter=['err']) %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-ban"></i> Sorry, operate failed!</h4>
                                    {{ msg }}
                            </div>
                        {% endfor %}
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Auth_ID</th>
                                    <th>Auth Name</th>
                                    <th>Address</th>
                                    <th>Add Time</th>
                                    <th>Operate Notice</th>
                                </tr>
                                {% for v in page_data.items %}
                                <tr>
                                    <td>{{ v.id }}</td>
                                    <td>{{ v.name }}</td>
                                    <td>{{ v.url }}</td>
                                    <td>{{ v.addtime }}</td>
                                    <td>
                                        <a href="{{url_for('admin.auth_edit', id=v.id)}}" class="label label-success">Edit</a>
                                        &nbsp;
                                        <a href="{{url_for('admin.auth_del', id=v.id)}}" class="label label-danger">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        {# import backend page template #}
                        {{ pg.page(page_data, 'admin.auth_list',pages_num) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
            $('#g-11').addClass('active');
            $('#g-11-2').addClass('active');
        });
    </script>
{% endblock %}