<div class="col-md-3">
    <div class="list-group">
        <a id="m-1" href="{{ url_for('home.user') }}" class="list-group-item">
            <span class="glyphicon glyphicon-user"></span>&nbsp;Personal Center
        </a>
        <a id="m-2" href="{{ url_for('home.pwd') }}" class="list-group-item">
            <span class="glyphicon glyphicon-lock"></span>&nbsp;Modify Password
        </a>
        <a id="m-3" href="{{ url_for('home.comments',page=1) }}" class="list-group-item">
            <span class="glyphicon glyphicon-comment"></span>&nbsp;Comment Record
        </a>
        <a id="m-4" href="{{ url_for('home.loginlog',page=1) }}" class="list-group-item">
            <span class="glyphicon glyphicon-calendar"></span>&nbsp;Login Log
        </a>
        <a id="m-5" href="{{ url_for('home.moviecol',page=1) }}" class="list-group-item">
            <span class="glyphicon glyphicon-heart"></span>&nbsp;Movie Collection
        </a>
        <a id="m-6" href="{{ url_for('home.musiccol',page=1) }}" class="list-group-item">
            <span class="glyphicon glyphicon-music"></span>&nbsp;Music Collection
        </a>
        <a id="m-7" href="{{ url_for('home.bookcol',page=1) }}" class="list-group-item">
            <span class="glyphicon glyphicon-book"></span>&nbsp;Book Collection
        </a>
    </div>
</div>