{% extends 'home/home.html' %}

{% import 'ui/comment_page.html' as pg %}

{% block css %}
    <!--Play Page-->
    {# DPlayer #}
    <link href="https://cdn.bootcss.com/dplayer/1.22.2/DPlayer.min.css" rel="stylesheet">

    {# jwplayer #}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jwplayer/skins/stormtrooper.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='ueditor/ueditor.config.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='ueditor/ueditor.all.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='ueditor/lang/zh-cn/zh-cn.js') }}"></script>
    <script>
        SyntaxHighlighter.all();
    </script>
    <!--Play Page-->
    <style>
        .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
            padding-right: 3px;
            padding-left: 3px;
        }
        body{
            background-image: url("{{ url_for('static',filename='base/images/book_b.jpg') }}");
            background-size: cover;
        }
    </style>

{% endblock %}
 
{% block content %}
    <div class="row">
        <div class="col-md-8">
            {# Video Insert #}
{#            <div id="moviecontainer" style="height: 500px;width: 774px"></div>#}
            <div>
                <figure class="col-md-4">
                    <a href="{{book.url}}" target="_blank">
                        <img src="{{url_for('static',  filename='uploads/' + book.logo)}}" style="position: absolute; top: 80px; left: 15px; width: 230px; height: 346px;" alt="" >
                    </a>
                </figure>
                <div class="col-md-4" style="margin-top: 100px; margin-left: 10px;">
                    <font size="3" color="white">Book Info</font>
                    <p text-align:left>
                        <font size="2" color="white">{{ book.info }}</font>
                    </p>
                </div>   
            </div>    
        </div>
        {# Upper left corner logo #}
        {# <div id="logo" style="width: 20px;height: 20px;"></div>#}

        <div class="col-md-4" style="height:500px;">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-facetime-video"></span>&nbsp;book description</h3>
                </div>
                <div class="panel-body" style="height:459px;overflow: scroll;">  {#Scroll bar for video details on the right#}
                    <table class="table">
                        <tr>
                            <td style="color:#ccc;font-weight:bold;font-style:italic;">
                                <span class="glyphicon glyphicon-film"></span>&nbsp;Book Name
                            </td>
                            <td>{{ book.title }}</td>
                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;font-style:italic;">
                                <span class="glyphicon glyphicon-map-marker"></span>&nbsp;Author
                            </td>
                            <td>{{ book.author }}</td>
                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;font-style:italic;">
                                <span class="glyphicon glyphicon-tag"></span>&nbsp;Tags
                            </td>
                            <td>
                                {% for temp_tag in tags %}
                                    {{temp_tag}}&nbsp;
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;font-style:italic;">
                                <span class="glyphicon glyphicon-star"></span>&nbsp;Star
                            </td>
                            <td>
                                <div>
                                    {# Solid stars#}
                                    {% for val in range(1,1+ book.star) %}
                                        <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                                    {% endfor %}
                                    {# Hollow star#}
                                    {% for val in range(1,6-book.star) %}
                                        <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;font-style:italic;">
                                <span class="glyphicon glyphicon-calendar"></span>&nbsp;Realse Time
                            </td>
                            <td>{{  book.release_time }}</td>
                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;font-style:italic;">
                                <span class="glyphicon glyphicon-comment"></span>&nbsp;Comment Numbers
                            </td>
                            <td>{{ book.commentnum }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-top:6px;">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span>&nbsp;Book Comment</h3>
                </div>
                <div class="panel-body">
                    {# Need to login Before Comment #}
                    {% if 'user' not in session %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <strong>Please<a href="{{ url_for('home.login') }}" target="_blank" class="text-info"> login firstly</a>, You can give a comment</strong>
                        </div>
                    {% endif %}
                    <ol class="breadcrumb" style="margin-top:6px;">

                        <li>All comments({{ book.commentnum }})

                    </ol>
                    {# Display the comment after login, and collect the video #}
                    {% if 'user' in session %}
                        {# Successful Hint(category_filter:category flash) #}
                        {% for msg in get_flashed_messages(category_filter=['ok']) %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i> Congratulations, operate successful!</h4>
                                {{ msg }}
                            </div>
                        {% endfor %}
                        {# Failed Hint #}
                        {% for msg in get_flashed_messages(category_filter=['err']) %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-ban"></i> Sorry , Operate Failed</h4>
                                {{ msg }}
                            </div>
                        {% endfor %}
                        <form role="form" style="margin-bottom:6px;"  method="post">
                            <div class="form-group">
                                <div>
                                    <style type="text/css">
                                        #comment {
                                            width: 1126px;
                                        }
                                    </style>
                                    <label for="comment">{{ form.content.label }}</label><br>
                                    {# Original Version(With the emoji): <label for="input_content">{{ form.content.label }}</label><br>#}
                                    {{ form.content }}
                                </div>
                                {% for err in form.content.errors %}
                                    <div class="col-md-12">
                                        <font style="color:red">{{ err }}</font>
                                    </div>
                                {% endfor %}
                            </div>
                            {{ form.submit }}
                            {{ form.csrf_token }}
                            <a type="button" onclick="" class="btn btn-danger" id="btn-col"><span class="glyphicon glyphicon-heart"></span>&nbsp;Collect Book</a>
                        </form>
                        <div class="col-md-12">
                            <font style="color:green" id="show_col_msg"></font>
                        </div>
                        <div class="clearfix"></div>

                    {% endif %}

                    <ul class="commentList">
                        {% for v in page_data.items %}
                            <li class="item cl">
                                <a>
                                    <i class="avatar size-L radius">
                                        {% if v.user.face %}
                                            <img alt="50x50"
                                                 src="{{ url_for('static',filename='uploads/users/' + v.user.face) }}"
                                                 class="img-circle"
                                                 style="border:1px solid #abcdef;width: 50px;height: 50px;">
                                        {% else %}
                                            <img alt="50x50" data-src="holder.js/50x50" class="img-circle"
                                                 style="border:1px solid #abcdef;width: 50px;height: 50px;">
                                        {% endif %}
                                    </i>
                                </a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta">
                                            <a class="comment-author" href="user.html">{{ v.user.name }}</a>
                                            Comment at
                                            <time title="{{ v.addtime }}" datetime="{{ v.addtime }}">
                                                {{ v.addtime }}
                                            </time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        {# |safe:Filter the HTML tags in the content#}
                                        <p>{{ v.content |safe }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="col-md-12 text-center">
                        {# Introducing background page template #}
                        {{ pg.page(page_data,'home.playbook',book.id,pages_num) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <!--Play Page
{#     DPlayer#}
{#        <script src="https://cdn.bootcss.com/dplayer/1.22.2/DPlayer.min.js"></script>#}
{#        <script>#}
{#            const dp = new DPlayer({#}
{#                container: document.getElementById('moviecontainer'),  //以id来播放视频#}
{#                screenshot: false,   //截屏#}
{#                theme: '#ff4b44',     //进度条等主题颜色#}
{#                loop: false,           //循环播放#}
{#                logo: 'logo.png',    //视频左上角小logo图片#}
{#                video: {#}
{#                    url: '{{ url_for('static',filename='uploads/' + movie.url) }}'  //视频地址#}
{#                    // pic: '1.png',  //封面#}
{#                    // width:66,#}
{#                    // height:60#}
{#                    // thumbnails: '1.png'   //鼠标放在进度条上移动时的预览图片#}
{#                },#}
{#                //contextmenu:['']  //添加右键菜单#}
{#                // subtitle: {#}
{#                //     url: 'webvtt.vtt'#}
{#                // },#}
{#                //弹幕系统#}
{#                 danmaku: {#}
{#                    id: 'demo',#}
{#                    api: 'https://api.prprpr.me/dplayer/'#}
{#                }#}
{#            });#}
{#        </script>#}
-->

    {# jwplayer #}
    <script src="{{ url_for('static',filename='jwplayer/jwplayer.js') }}"></script>
    <script>
        var ue = UE.getEditor('input_content', {
            toolbars: [
                ['fullscreen', 'emotion', 'preview', 'link']
            ],
            initialFrameWidth: "100%",
            initialFrameHeight: "100",
        });
    </script>
    <script type="text/javascript">
        jwplayer.key = "P9VTqT/X6TSP4gi/hy1wy23BivBhjdzVjMeOaQ==";
    </script>
    <script type="text/javascript">
        jwplayer("musiccontainer").setup({
            flashplayer: "{{ url_for('static',filename='jwplayer/jwplayer.flash.swf') }}",
            playlist: [{
                file: "{{ url_for('static',filename='uploads/' + book.url) }}",
                title: "{{ book.title }}"
            }],
            modes: [{
                type: "html5"
            }, {
                type: "flash",
                src: "{{ url_for('static',filename='jwplayer/jwplayer.flash.swf') }}"
            }, {
                type: "download"
            }],
            skin: {
                name: "seven"  //Player skin(Gogerous:glow,seven) ;E:\Python_Project\movie_dplayer\app\static\jwplayer\skins
            },
            "playlist.position": "left",
            "playlist.size": 400,
            height: 500,
            width: 774,
            autostart:true,
        });
    </script>


    <!--Play Page-->
    {# AJAX gets the video ID and user ID #}
    <script>
        //{#$(document).ready(function(){#}
        $("#btn-col").click(function(){
            var mid = "{{book.id}}";
            var uid = "{{session['user_id']}}";
            alert("Test Message!");
            // {#var msg = $("#show_col_msg");#}
            $.ajax({
                url:"{{ url_for('home.bookcol_add') }}",
                type:"GET",
                data:"mid=" + mid + "&uid=" + uid,
                dataType:"json",
                success:function(res){
                    if(res.ok == 1) {
                        $("#show_col_msg").empty();
                        $("#show_col_msg").append("Collect book Successfully!");
                        alert("Collect Book Successfully!");
                    }else{
                        $("#show_col_msg").empty();
                        $("#show_col_msg").append("You have collected this book!");
                        alert("You have collected this book!");
                    }
                }
            })
        });

    </script>

{% endblock %}