{#Exclusive template for the list of comments in the play page#}
{#Pass in one more id#}
{% macro page(data,url,id,pages) -%}
{% if data %}
<ul class="pagination">
    {#Home#}
    <li><a href="{{ url_for(url,page=1,id=id) }}">Home</a></li>

    {#Previous Page#}
    {% if data.has_prev %}  {# if exist, display #}
    <li><a href="{{ url_for(url,page=data.prev_num,id=id) }}">Previous</a></li>
    {% else %} {# Click without response on the previous page #}
    <li class="disabled"><a href="#">Previous</a></li>
    {% endif %}

    {#Current Page#}
    {% for v in range(1,pages+1)%} 
        {% if v == data.page %}
            <li class="active"><a href="#">{{ v }}</a></li> {# if current page, then activate #}
        {% elif v>data.page and v-data.page < 3 %}
            <li><a href="{{ url_for(url,page=v) }}">{{ v }}</a></li>
        {% elif v<data.page and v-data.page > -3%}  
            <li><a href="{{ url_for(url,page=v) }}">{{ v }}</a></li>  
        {% endif %}
    {% endfor %}

    {#Next page#}
    {% if data.has_next %}
    <li><a href="{{ url_for(url,page=data.next_num,id=id) }}">Next</a></li>
    {% else %}
    <li class="disabled"><a href="#">Next</a></li>
    {% endif %}

    {#Last Page#}
    <li><a href="{{ url_for(url,page=data.pages,id=id) }}">Last</a></li>

</ul>
{% endif %}
{%- endmacro %}